<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%date{MM/dd HH:mm:ss.SSS} %-5level[%thread] %logger{1} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="exceptions" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>cassandra-bigdata.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>cassandra-bigdata.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{ISO8601} %-5p [%c{0}] - %m%n</pattern>
        </encoder>
    </appender>

    <logger name="me.prettyprint.cassandra" level="ERROR" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="org.apache.cassandra" level="ERROR" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="com.rallydev.cassandra" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="exceptions"/>
    </logger>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>